<!-- <div class="row"> -->
    <!-- <div class="col-6">
        <app-person-working/>
    </div> -->
    <div class="rightDiv col-10 d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex flex-column">
            <h2 class="text-center">Logo</h2>
        <div class="formDiv d-flex flex-column mt-5">
            <h2 class="mt-2 px-3">Change Password</h2>
            <form [formGroup]="changePasswordForm">
                <div class="mt-4 px-3">
                    <label class="form-label" for="password">Old Password</label>
                    <input type="password" class="form-control border-secondary" id="password" formControlName="currentPassword">
                    <span class="text-danger" *ngIf="(changePasswordForm.get('currentPassword')?.invalid && changePasswordForm.get('currentPassword')?.touched)">* Password is required</span>
                    <br>
                    <span class="text-danger" *ngIf="(changePasswordForm.get('currentPassword')?.hasError('pattern'))" >* Password should contains 1 Uppercase, 1 Special Character and minimum length 6</span>
                </div>
                <div class="mt-4 px-3">
                    <label class="form-label" for="password">New Password</label>
                    <input type="password" class="form-control border-secondary" id="password" formControlName="newPassword">
                    <span class="text-danger" *ngIf="(changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched)">* Password is required</span>
                    <br>
                    <span class="text-danger" *ngIf="(changePasswordForm.get('newPassword')?.hasError('pattern'))" >* Password should contains 1 Uppercase, 1 Special Character and minimum length 6</span>
                </div>
            </form>
            <button class="customizeButton btn mt-3 mb-5 mx-3" type="submit" (click)="onSubmitHandler()" >Submit</button>
            <p class="text-center mb-4">Back to Sign In ? <a class="text-primary" href="/">Go Back</a></p>
        </div>
        </div>
    </div>
<!-- </div> -->