<div class="row">
    <div class="col-6">
        <app-person-working/>
    </div>
    <div class="rightDiv col-6 d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex flex-column">
            
        <div class="formDiv d-flex flex-column mt-5 justify-content-center align-items-center">
            <div class="messageImg mt-3"></div>
            <small class="text-center mt-3" >Kindly check your email a link has been sent there to reset your password. </small>
            <small class="mt-3 mb-5">Back ton Sign In <a href="">Go Back</a></small>
        </div>
        </div>
    </div>
</div>