<section class="main">
    <div class="sidebar-wrapper" >
        <!-- <app-sidebar /> -->
    </div>

    <div class="main-content col-12">
        <!-- <app-header [active]="1" /> -->

        <div class="main-wrapper">
            
            

            <div class="add-user-form-wrapper">
                <form class="add-user-form" [formGroup]="AddUser" (ngSubmit)="onSubmit()">
                    <div class="form-heading-wrapper">
                        <p>User Detail</p>
                    </div>


                    <div class="imageUpload-wrapper">
                        <div class="imgWrapper">
                            <img *ngIf="!imgSrc" src="../../../assets/ImageUpload_icon.png" alt="imageUpload-wrapper" width="26px" height="26px">
                             <img *ngIf="imgSrc" [src]="imgSrc" class="userdp" src="../../../assets/user_dp.png" alt="" width="10px" height="10px">
                        </div>

                        <div class="imgInput-wrapper">
                            <span class="file-name">Upload User image here</span>    
                            <label for="file-input" class="file-label">Choose a file</label>
                            <input type="file" id="file-input" class="file-input" (change)="onFileChange($event)" />         
                        </div>
                    </div>


                    <div class="form-input-wrapper">
                        <div class="row form-input-row">
                            <div class="form-input col-md-4 col-12">
                                <label for="first-name">First Name</label>
                                <input type="text" id="first-name" name="firstname" placeholder="First Name" formControlName="firstName">
                            </div>

                            <div class="form-input col-md-4 col-12">
                                <label for="middle-name">Middle Name</label>
                                <input type="text" id="middle-name" name="middlename" placeholder="Middle Name" formControlName="middleName">
                            </div>

                            <div class="form-input col-md-4 col-12">
                                <label for="last-name">Last Name</label>
                                <input type="text" id="last-name" name="lastname" placeholder="Last Name" formControlName="lastName">
                            </div>
                        </div>

                        <div class="row form-input-row">
                            <div class="form-input col-md-4 col-12">
                                <label for="gender">Gender</label>
                                <input type="text" id="gender" name="gender" formControlName="gender">
                            </div>

                            <div class="form-input col-md-4 col-12">
                                <label for="dob">Date of Birth</label>
                                <input type="date" id="dob" name="DateOfBirth" placeholder="MM/DD/YY" formControlName="dob">
                            </div>

                            <div class="form-input col-md-4 col-12">
                                <label for="email">Email</label>
                                <input type="text" id="email" name="email" placeholder="Email" formControlName="email">
                            </div>
                        </div>

                        <div class="row form-input-row">
                            <div class="form-input col-md-4 col-12">
                                <label for="dateOfJoining">Date of Joining</label>
                                <input type="date" id="dateOfJoining" name="dateOfJoining" placeholder="Date of Joining" formControlName="dateOfJoining">
                            </div>

                            <div class="form-input col-md-4 col-12">
                                <label for="phone">Phone</label>
                                <input type="text" id="phone" name="phone" placeholder="Phone" formControlName="phone">
                            </div>

                            <div class="form-input col-md-4 col-12">
                                <label for="alternatePhone">Alternate Phone</label>
                                <input type="text" id="alternatePhone" name="alternatePhone" placeholder="Alternate Phone" formControlName="alternatePhone">
                            </div>
                        </div>

                        <div class="row form-input-row">
                            <div class="form-input col-md-4 col-12">
                                <label for="country">Country</label>
                                <input type="text" id="first-name" name="country" placeholder="Country" formControlName="country">
                            </div>

                            <div class="form-input col-md-4 col-12">
                                <label for="state">State</label>
                                <input type="text" id="state" name="state" placeholder="State" formControlName="state">
                            </div>

                            <div class="form-input col-md-4 col-12">
                                <label for="middle-name">City</label>
                                <input type="text" id="middle-name" name="middlename" placeholder="City" formControlName="city">
                            </div>

                            
                        </div>

                        <!-- <div class="row form-input-row">
                            <div class="form-input col-md-4 col-12">
                                <label for="first-name">First Name</label>
                                <input type="text" id="first-name" name="firstname" placeholder="First Name">
                            </div>

                            <div class="form-input col-md-4 col-12">
                                <label for="middle-name">Middle Name</label>
                                <input type="text" id="middle-name" name="middlename" placeholder="Middle Name">
                            </div>

                            <div class="form-input col-md-4 col-12">
                                <label for="last-name">First Name</label>
                                <input type="text" id="last-name" name="lastname" placeholder="Last Name">
                            </div>
                        </div> -->
                    </div>

                    <div class="submit-btn-wrapper">
                        <button type="submit">Save</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>