<div class="row">
    <div class="col-6">
        <app-person-working/>
    </div>
    <div class="rightDiv col-6 d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex flex-column">
            <h2 class="text-center">Logo</h2>
        <div class="formDiv d-flex flex-column mt-5">
            <h2 class="mt-2 px-3">Forgot Password</h2>
            <form [formGroup]="forgotForm">
                <div class="mt-4 px-3">
                    <label class="form-label" for="email">Enter Your Email Address</label>
                    <input type="email"  class="form-control border-secondary" id="email" formControlName="email">
                    <div class="text-danger" *ngIf="(forgotForm.get('email')?.touched && forgotForm.get('email')?.invalid)" >* Field is required</div>
                    <div class="text-danger" *ngIf="(forgotForm.get('email')?.hasError('email'))">Email is not valid</div>
                </div>
            </form>
            <button class="customizeButton btn mt-3 mb-5 mx-3" type="submit" (click)="onSubmitHandler()" >Send Link To My Email</button>
            <p class="text-center mb-4">Back to Sign In ? <a class="text-primary" href="/">Go Back</a></p>
        </div>
        </div>
    </div>
</div>