<div class="row">
    <div class="col-6">
        <app-person-working/>
    </div>
    <div class="rightDiv col-6 d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex flex-column">
            <h2 class="text-center">Logo</h2>
        <div class="formDiv d-flex flex-column mt-5">
            <h2 class="mt-2 px-3">Sign In</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmitHandler()">
                <div class="mt-4 px-3">
                    <label class="form-label" for="email">Enter Your Email Address</label>
                    <input type="email"  class="form-control border-secondary" id="email" formControlName="email">
                    <div class="text-danger" *ngIf="(loginForm.get('email')?.touched && loginForm.get('email')?.invalid)" >* Field is required</div>
                    <div class="text-danger" *ngIf="(loginForm.get('email')?.hasError('email'))">Email is not valid</div>
                </div>
                <div class="mt-4 px-3">
                    <label class="form-label" for="password">Enter Your Password</label>
                    <input type="password" class="form-control border-secondary" id="password" formControlName="password">
                    <span class="text-danger" *ngIf="(loginForm.get('password')?.invalid && loginForm.get('password')?.touched)">* Password is required</span>
                    <br>
                    <span class="text-danger" *ngIf="(loginForm.get('password')?.hasError('pattern'))" >* Password should contains 1 Uppercase, 1 Special Character and minimum length 6</span>
                </div>
            </form>
            <button class="customizeButton btn mt-3 mb-5 mx-3" type="submit" (click)="onSubmitHandler()">Signin</button>
        </div>
        </div>
    </div>
</div>