.formDiv{
    width: 450px;
    box-shadow: 0 0 10px rgb(12 11 11 / 28%);
    height: auto;
    border-radius: 16px;
    padding: auto;
    background-color: #ffff;
}
.rightDiv{
    background-color: #fbfffa;
}
.customizeButton{
    background-color: #4285F4;
    color: #fbfffa;
}