<div class="row">
    <div class="sidebarDiv col-2 d-flex flex-column ">
        <div class="integrity text-white text-center"><h5>Integrity Solution</h5></div>
        <hr>
        <div>
           <div class="dashboard ">
                <img src="../../../assets/dashboard.png" alt="hello" width="25px" height="25px" style="filter: drop-shadow(9px 8px 0px #4285f4);">
                <button class=" btn border-0"><h6 class="DBbuttton" (click)="componentRender()">Dashboard</h6></button>
                
           </div>
           <div class="dashboard mt-4 dropdown">
                <img src="../../../assets/patient (1) 3.png" alt="" width="25px" height="25px" style="filter: drop-shadow(9px 8px 0px #4285f4);">
                <button class=" btn border-0 dropdown-toggle ">
                    <h6 class="DBbuttton" (click)="componentRenderSecond()">Manage User</h6>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Add User</a></li>
                </ul>
           </div>
        </div>
    </div>
    <div class="col-10 g-0">
        <div class="d-flex justify-content-between">
            <div class="d-flex gap-4 mx-2 pt-3 bg-white">
                <h5 class="">Hi Lamma Taylor!</h5>
                <img src="../../../assets/HiFi.jfif" alt="" width="30px" height="27px">
            </div>
            <div class="d-flex gap-2 me-3 pt-3">
                <img src="../../../assets/Ellipse 1527.png" alt="" width="30px" height="30px">
                <h6>Lamma Taylor</h6>
            </div>
        </div>
        <div class="background p-0 m-0">
             <div *ngIf="!component">
                <app-dashboard></app-dashboard>
             </div>
             <div *ngIf="component">
                <app-add-user></app-add-user>
             </div>
        </div>
    </div>
</div>