.sidebarDiv{
    height: 100vh;
    background-color: #4285F4;
    
}

.dashboard{
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 0px 15px;
    border-radius: 5px;
    /* width: 10%; */
}

.DBbuttton{
    color: #4285F4;
}