<div class="sidebarDiv d-flex flex-column">
    <div class="integrity text-white text-center"><h3>Integrity Solution</h3></div>
    <hr>
    <div>
      <div class="dashboard">
        <img src="../../../assets/dashboard.png" alt="hello" width="25px" height="25px" style="filter: drop-shadow(9px 8px 0px #4285f4);">
        <button class="btn border-0" (click)="navigateTo('/wrapper/dashboard')">
          <h5 class="DBbuttton">Dashboard</h5>
        </button>
      </div>
      <div class="dashboard mt-4 dropdown">
        <img src="../../../assets/patient (1) 3.png" alt="" width="25px" height="25px" style="filter: drop-shadow(9px 8px 0px #4285f4);">
        <button class="btn border-0" (click)="navigateTo('/wrapper/add-user')">
          <h5 class="DBbuttton">Manage User</h5>
        </button>
      </div>
      <div class="dashboard mt-4 dropdown">
        <!-- <img src="../../../assets/change-password.png" alt="" width="25px" height="25px" style="filter: drop-shadow(9px 8px 0px #4285f4);"> -->
        <button class="btn border-0" (click)="navigateTo('/wrapper/change-password')">
          <h5 class="DBbuttton">Change Password</h5>
        </button>
      </div>
    </div>
  </div>
  